.project__card{
  width: 15vw;
  height: 45vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background: url(../../assets/backgrounds/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  margin: 1rem;
}

.project__card__title{
  height: 20vh;
  padding: 1rem;
}

.project__card__title h2{
  font-weight: 900;
  font-size: 1.5rem;
}
.project__card a{
  padding: 0.5rem;
  font-weight: 500;
}

.project__card:hover{
  border: 2px var(--color-primary) solid;
}
